@tailwind base;
@tailwind components;
@tailwind utilities;


.navBar {
  @apply p-4 bg-gray-50 shadow; 
}

.navContainer {
  @apply flex items-center justify-between;
}

.logo {
  @apply text-black text-2xl inline cursor-default pl-20 font-bold;
}

.navLi {
  @apply mx-2 px-4 py-2 rounded-lg text-sm hover:transition duration-500 hover:underline hover:bg-gray-200 cursor-pointer;
}

.btn {
  @apply px-6 py-2 rounded-md hover:transition duration-500 hover:opacity-80 bg-black text-white text-sm cursor-pointer;
}

.roboto {
  font-family:var(--font-roboto)
}

.merriweather {
  font-family:var(--font-merriweather)
}

.inter {
  font-family:var(--font-inter)
}



