@tailwind base;
@tailwind components;
@tailwind utilities;


.logo {
  @apply px-3 text-xl text-black inline cursor-default md:pl-6 font-bold;
}

.navLi {
  @apply mx-2 px-4 py-2 rounded-lg text-sm hover:transition duration-500 hover:underline hover:bg-gray-200 cursor-pointer;
}

.btn1 {
  @apply px-2 py-2 md:px-6 rounded-md hover:transition duration-500 hover:opacity-80 bg-black text-white text-sm cursor-pointer;
}

.roboto {
  font-family:var(--font-roboto)
}

.merriweather {
  font-family:var(--font-merriweather)
}

.inter {
  font-family:var(--font-inter)
}

@layer utilities {
  .saturate-150 {
    filter: saturate(200%);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-blink {
  animation: blink 1s;
}



